<table>
    <!-- Head -->
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Telephone</th>
        </tr>
    </thead>
    <!-- Body -->
    <tbody>
        <tr v-for="contact in currentPageResults" :key="contact.id">
            <td>{{ contact.firstName }}</td>
            <td>{{ contact.lastName }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.telephone }}</td>
        </tr>
    </tbody>
    <!-- Foot -->
    <tfoot>
        <tr>
            <td>
                <ul>
                    <!-- First -->
                    <li v-if="!isFirstPage">
                        <span @click="goto(firstPageNumber)">First</span>
                    </li>
                    <!-- Previous -->
                    <li v-if="!isFirstPage">
                        <span @click="prevPage()">Prev</span>
                    </li>
                    <!-- Page Numbers -->
                    <li v-for="pageNumber in pageNumbers" :key="pageNumber">
                        <span @click="goto(pageNumber)">{{ pageNumber }}</span>
                    </li>
                    <!-- Next -->
                    <li v-if="!isLastPage">
                        <span @click="nextPage()">Next</span>
                    </li>
                    <!-- Last -->
                    <li v-if="!isLastPage">
                        <span @click="goto(lastPageNumber)">Last</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Showing {{ startOfResults }} to {{ endOfResults }} of {{ totalResults }}
            </td>
        </tr>
    </tfoot>
</table>